# Flutter build and dependencies
.dart_tool/
.packages
.flutter
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# VSCode settings
.vscode/

# Mac OS files
.DS_Store

# Logs
pubspec.lock
*.log
